@charset "UTF-8";

/*--------------------------------------------------------------------
 Common
----------------------------------------------------------------------*/
@font-face {
	font-family: 'Milloyste';
	src: url('/src/font/Milloyste Font by Keithzo.otf')format('truetype');
}
@font-face {
	font-family: 'irohamaru-Regular';
	src: url('/src/font/irohamaru-Regular.ttf')format('truetype');
}
html {
	height: 100%;
}
body {
	height: 100%;
	font-family: Milloyste, irohamaru-Regular;
	font-size: 14px;
	color: #333333;
	letter-spacing: 1px;
}
h1, h2, h3, h4, h5, h6 {
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
}
a {
	position: relative;
	display: inline-block;
	transition: .3s;
	text-decoration: none;
	line-height: 2;
}
a::after {
	position: absolute;
	bottom: .3em;
	left: 0;
	content: '';
	width: 100%;
	height: 1px;
	background-color: #2ecc71;
	opacity: 0;
	transition: .3s;
}
a:hover::after {
	bottom: 0;
	opacity: 1;
}
li {
	list-style: none;
}
.dn {
	display: none !important;
}

/*--------------------------------------------------------------------
 loading
----------------------------------------------------------------------*/
.loadingBeforeWrap,
.loadingAfterWrap {
	height:  100%;
	width: 100%;
	display:  flex;
	justify-content:  center;
	align-items:  center;
}
.loadingContentWrap {
	text-align:  center;
}
.loadingContentWrap > img{
	width: 80%;
	height:  80%;
}
.loadingAfterWrap > img {
	width: 85%;
    height: auto;
}
.loadingBarWrap {
  width: 100%;
  max-width: 300px;
  margin: 20px auto 0;
  border: 1px solid #333333;
  border-radius:  30px;
}
.loadingBar {
  height: 20px;
  max-width: 300px;
  margin: 0 auto;
  position: relative;
}
.loadingBar::before {
  content: '';
  width: 100%;
  position: absolute;
  left: 0;
  height: 20px;
  top: 0;
  z-index: -2;
  background: #ecf0f1;
  border-radius: 30px;
}
.loadingBar::after {
  content: '';
  background: #ED635E;
  height: 20px;
  transition: 0.2s;
  display: block;
  width: 100%;
  animation: loadingBar-after 1 1s;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 30px;
}
@keyframes loadingBar-after {
  0%{
    width: 0px;
  }
  100%{
    width: 100%;
  }
}
.buruburu {
    display: inline-block;
    animation: hurueru .1s  infinite;
}

@keyframes hurueru {
    0% {transform: translate(0px, 0px) rotateZ(0deg)}
    25% {transform: translate(2px, 2px) rotateZ(1deg)}
    50% {transform: translate(0px, 2px) rotateZ(0deg)}
    75% {transform: translate(2px, 0px) rotateZ(-1deg)}
    100% {transform: translate(0px, 0px) rotateZ(0deg)}
}]

/*--------------------------------------------------------------------
 PC style
----------------------------------------------------------------------*/
.wrap {
	margin: 20px 0 10px;
	    animation: fadeIn 2s ease 0s 1 normal;
}
@keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}
.header {
	margin-bottom: 20px;
}
.logo {
	text-align: center;
}
.logo > img {
	width: 100%;
	max-width: 540px;
}
.keyVisualImg {
	margin-top: 15px;
	text-align: center;
}
.keyVisualImg > img {
	height: 100%;
	width: 100%;
	max-width: 412px;
	max-height: 370px;
}
.eventInfoWrap {
	width: 80vw;
	margin: 25px auto 0;
}
.eventInfoWrap > span{
	display: inline-block;
}
.eventInfoTop {
	padding-left: 14px;
}
.eventDate {
	font-size: 26px;
	letter-spacing: 4px;
}
.eventDateBrackets {
	font-size: 14px;
	padding: 0 4px;
}
.eventPlace {
	padding-left: 15px;
	font-size: 20px;
	letter-spacing: 1px;
}
.eventInfoBottom {
	padding: 5px 0 0 14px;
	font-size: 18px;
	border-top: solid 1px #333333;
}
.meetingTime {
	padding-left: 15px;
	font-size: 20px;
	letter-spacing: 2px;
}
.menu {
	display: flex;
	width: 90vw;
	margin: 0 auto;
	justify-content: space-between;
}
.menu > li {
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
	border-right: solid 1px #333333;
}
.menu > li:first-child {
	border-left: solid 1px #333333;
}
.menu > li > a,
.menu > li > a > img {
	display: block;
}
.contentWrap {
	display: flex;
	width: 80vw;
	margin: 50px auto 80px;
	align-items:  center;
}
.border {
	width: 1px;
	height: 100px;
	margin: 30px auto 40px;
	border-left: solid 1px #333333;
}
.contentTitle {
	width: 20%;
	text-align: center;
	font-size: 25px;
	letter-spacing:  1px;
}
.content {
	width: 80%;
	font-family: irohamaru-Regular;
}
.content > span {
	display: block;
	margin-bottom: 5px;
	font-family: irohamaru-Regular;
}
.contentDescription {
	margin-bottom: 30px;
}
.content > iframe {
	width: 100%;
	text-align: center;
}
.toDoOnCamp:not(:last-child) {
	margin-bottom: 10px;
}
.toDoOnCamp > dt {
	line-height: 2;
	font-weight: bold;
}
.toDoOnCamp > dd {
	padding-left: 20px;
}
.scheduleWrap {
	display: flex;
	justify-content: space-around;
	padding-left: 30px;
}
.date {
	border-bottom: solid 3px #ED635E;
	line-height: 1.5;
}
.schedule {
	padding-top: 10px;
	line-height:  2;
}
.icn {
	font-size: 10px;
}
.belongingsWrap {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	width: 500px;
	padding-left: 10px;
}
.belongingsText {
	width: 100%;
	padding-bottom: 10px
}
.belongings {
	width: 150px;
	padding-bottom: 7px
}
.goodImg {
	position: absolute;
	left: 25%;
}
.goodImg > img {
	width: 100px;
}

.checkBelongings{
  display: none;
}
.labelBelongings{
  padding-left: 20px;
  position:relative;
  margin-right: 20px;
}
.labelBelongings::before{
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 15px;
  height: 15px;
  border: 1px solid #333333;
  border-radius: 4px;
}
.checkBelongings:checked + .labelBelongings::after{
  content: "";
  display: block;
  position: absolute;
  top: -1px;
  left: 4px;
  width: 7px;
  height: 13px;
  transform: rotate(40deg);
  border-bottom: 3px solid #ED635E;
  border-right: 3px solid #ED635E;
}





.accordionbox{
	width: 50%;
	background:#FBDBC4;
	margin: 10px auto 40px;
	padding: 20px;
}
.accordionlist dt{
	display:block;
	background: #fff;
	padding: 20px 0 10px 5px;
	border-top: 1px solid #DFDFDF;
}
.accordionlist dt:first-child{
	border-top: none !important;
}
.accordionlist dt .title{
	padding-left: 10px;
	float: left;
}
.accordionlist dd{
	display:none;
	background: #fff;
	padding:0 0 20px 15px;
}
.accordion_icon,
.accordion_icon span {
	display: inline-block;
	transition: all .4s;
	box-sizing: border-box;
}
.accordion_icon {
	position: relative;
	width: 30px;
	height: 30px;
	float: right;
	margin-right: 5px;
}
.accordion_icon span {
	position: absolute;
	left: 6px;
	width: 50%;
	height: 2px;
	background-color: #F88789;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-ms-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
}
.accordion_icon span:nth-of-type(1) {
	top: 5px;
	transform: rotate(0deg);
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	-o-transform: rotate(0deg);
}
.accordion_icon span:nth-of-type(2) {
	top: 5px;
	transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
}



/*＋、－切り替え*/
.accordion_icon.active span:nth-of-type(1) {
	display:none;
}
.accordion_icon.active span:nth-of-type(2) {
	top: 5px;
	transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
}

/*--------------------------------------------------------------------
 SP style
----------------------------------------------------------------------*/
@media screen and (max-width: 650px) {
	body {
		font-size: 10px;
	}
	.logo > img,
	.keyVisualImg > img {
		width: 80vw;
	}
	.eventInfoWrap {
		width: 90vw;
	}
	.eventDate {
		font-size: 12px;
	}
	.eventDateBrackets {
		font-size: 8px;
	}
	.eventPlace {
		font-size: 12px;
	}
	.eventInfoTop {
		padding-left: 5px;
	}
	.eventInfoBottom {
		padding-left: 5px;
		font-size: 12px;
	}
	.meetingTime {
		font-size: 10px;
	}
	.menu {
		width: 90vw;
	}
	.menu > li > a >img {
		height: 8px;
		width: auto;
	}
	.contentWrap {
		display: block;
		width: 90vw;
		margin: 20px auto 20px;
	}
	.border {
		height: 40px;
		margin: 30px auto;
	}
	.contentTitle {
		width: 100%;
	}
	.content {
		width: 100%;
		margin-top: 15px;
	}
	.content > iframe {
		height: 50%;
	}
	.belongingsWrap {
		width: 320px;
		padding-left: 0;
	}
	.scheduleWrap {
		padding-left: 0;
		justify-content:  space-around;
	}
	.contentDescription {
		margin-bottom: 15px;
	}
	.toDoOnCamp > dd {
		padding-left: 10px;
	}
}
